#loginBody {
    background-color: aliceblue;
    width: 20em;
    height: fit-content;
    margin: auto;
    margin-top: 10em;
}

#loginBody label {
    font-weight: bold;
}

#loginContainer {
    border-bottom: solid 2px rgba(0, 0, 0, 0.1);
    padding-bottom: 1em;
    margin-bottom: 1em;
}

#loginContainer input {
    width: 90%;
    height: fit-content;
}

#loginButton {
    width: 50%;
}

#registerButton {
    width: 80%;
}

#loginError {
    font-size: 12px;
}


