#friendsComponent {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:
        "list child" 1fr
        / 0.25fr 1fr;
    gap: 2em;
}

    #friendsComponent #childComponent {
        grid-area: child;
    }

#friendsList {
    grid-area: list;
}

    #friendsList label {
        font-weight: bold;
        text-align: center;
    }

    #friendsList ol {
        border-top: solid 1px rgb(200, 200, 200);
        border-bottom: solid 1px rgb(200, 200, 200);
        border-radius: 1em;
        padding: 0.5em;
        overflow-y: auto;
        height: 100%;
    }

        #friendsList ol li {
            display: grid;
            grid-template:
                "img label label" 1.5em
                "img unfriend chat" 3em
                / 5em 1fr 1fr;
            height: fit-content
        }

            #friendsList ol li label {
                grid-area: label;
                padding: 0;
                text-align: center;
                font-size: 1em;
                width: 100%;
            }
            
            #friendsList ol li img {
                grid-area: img;
                height: 4.5em;
            }

#unfriendButton {
    grid-area: unfriend;
    background-color: indianred;
    width: 90%;
    text-align: center;
}

#openChatButton {
    grid-area: chat;
}
