* {
    font-family: Arial;
    color: rgba(50, 50, 50);
}

body, #root {
    margin: 0;
    position: absolute;
    display: block;
    width: 100vw;
    height: 100vh;
    max-width: 100vw;
    max-height: 100vh;
}

img {
    padding: 0;
    margin: 0;
}

ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

p {
    margin: 0;
}

.p-error-style {
    font-weight: bold;
    margin: 0;
    color: darkred;
    border: 1px solid darkred;
    padding: 0.5em 1em;
    border-radius: 1em;
    background-color: pink;
}

.p-fineprint {
    font-size: 0.5em;
    font-style: italic;
    color: darkgrey;
}

.p-error-style:before {
}

.container-style {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 1em;
    margin: 0;
    border-radius: 1em;
    display: block;
}

.container-style2 {
    box-sizing: border-box;
    padding: 1em;
    margin: 0;
    border-radius: 1em;
    display: block;
    border: solid 1px rgb(50, 50, 50);
}

.button-style {
    padding: 0.5em;
    border-radius: 1em;
    border: solid 1px rgb(50, 50, 50);
    background-color: white;
    padding: 0.5em 1em;
}

    .button-style:active {
        background-color: whitesmoke;
    }

.input-style {
    padding: 0.5em;
    border-radius: 0.5em;
    border: solid 1px rgb(50, 50, 50);
}

    .input-style:focus {
    }

.flex-center-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.flex-column {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.flex-center-row {
    display: flex;
    flex-direction: row;
    gap: 0.5em;
    justify-content: center;
    align-items: center;
}

.li-friend-style {
    background-color: lightgrey;
    padding: 0.5em;
    border: solid 1px rgb(50, 50, 50);
    border-radius: 1em;
}

.btn-accept {
    background-color: lightgreen;
}

.btn-decline {
    background-color: indianred;
}

.img-pfp {
    aspect-ratio: 1/1;
    border-radius: 1em;
}

.overflow-hidden {
    overflow: hidden;
}
