#chatComponent {
    display: grid;
    height: 100%;
    width: 100%;
    padding: 1em;
    grid-template:
        "chatInfo   chatInfo    listName" 0.25fr
        "log        log         list" 9fr
        "input      button      list" 0.5fr
        / 9fr 1fr 3fr;
    gap: 0.5em;
}

#chatLog {
    height: 700px;
    padding: 0.5em;
    grid-area: log;
    border-top: solid 1px rgb(200, 200, 200);
    border-bottom: solid 1px rgb(200, 200, 200);
    border-radius: 0.5em;
    overflow-y: scroll;
    box-sizing: border-box;
}

#chatLogItem {
    padding: 0.5em 1em;
    width: fit-content;
    height: fit-content;
    min-width: 40%;
    max-width: 90%;
    margin-right: auto;
    gap: 0;
    display: grid;
    grid-template:
        "img label" 1em
        "img p" 1em
        "hidden hidden" 1fr
        / 2.5em 1fr;
}

    #chatLogItem label {
        grid-area: label;
        font-weight: bold;
    }

    #chatLogItem p {
        grid-area: p;
        margin: 0;
    }

    #chatLogItem img {
        grid-area: img;
        height: 2em;
        border-radius: 0.5em;
        margin-right: 0.5em;
    }

    #chatLogItem input {
        grid-area: p;
        margin: 0;
    }

    #chatLogItem.myMessage {
        background-color: aliceblue;
        margin-right: 0;
        margin-left: auto;
    }

    #chatLogItem:hover .hiddenTools, #memberListLogItem:hover .hiddenTools, #editMessageTools {
        grid-area: hidden;
        margin-top: 0.5em;
        visibility: visible;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

.hiddenTools {
    visibility: hidden;
    display: none;
}

#deleteMessageButton {
    background-color: indianred;
}

#acceptEditButton {
    background-color: lightgreen;
}

#editMessageButton, #deleteMessageButton, #cancelEditButton, #acceptEditButton {
    padding: 0.5em 1em;
}

#messageInput {
    grid-area: input;
}

#messageSendButton {
    grid-area: button;
}

#chatMembersList {
    grid-area: list;
    overflow-y: auto;
}

#memberListLogItem {
    display: grid;
    grid-template:
        "img p" 1em
        "img label" 1em
        "hidden hidden" 1fr
    / 2.5em 1fr;
    height: fit-content;
    padding: 0 0 0.5em 0;
    border-bottom: solid 1px rgb(200, 200, 200);
}

    #memberListLogItem img {
        grid-area: img;
        height: 2em;
        border-radius: 0.25em;
        margin-right: 0.5em;
    }

    #memberListLogItem label {
        grid-area: label;
        font-weight: bold;
    }

    #memberListLogItem p {
        grid-area: p;
    }

#chatInfoContainer {
    grid-area: chatInfo;
}

    #chatInfoContainer label {
        font-weight: bold;
    }

#chatListLabel {
    grid-area: listName;
    text-align: center;
    font-weight: bold;
}

#chatNameEditContainer {
    width: 100%;
}

    #chatNameEditContainer input {
        width: 50%;
    }
