#logoutButton {
    background-color: indianred;
    width: 10%;
}

#myProfileContainer {
    width: 100%;
    height: 100%;
}

#mainLabel {
    font-size: 2em;
}

#myPfp {
    width: 200px;
    height: 200px;
    margin-bottom: 1em;
}

.my-profile-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em 0;
}

    .my-profile-container label {
        font-weight: bold;
        margin-bottom: 0.25em;
    }

    .my-profile-container input {
        width: 15%;
    }

#editPfpContainer {
    display: grid;
    grid-template:
        "input input" 2.5em
        "cancel save" 2em
        / 1fr 1fr;
    gap: 0.5em;
}

    #editPfpContainer input {
        grid-area: input;
        width: fit-content
    }

#editDisplayNameContainer {
    text-align: center;
    display: grid;
    grid-template:
        "input input" 2em
        "p p" 0.5em
        "save cancel" 2em
        / 1fr 1fr;
    gap: 0.5em;
    width: fit-content;
}

    #editDisplayNameContainer p {
        grid-area: p;
    }

    #editDisplayNameContainer input {
        grid-area: input;
        width: 100%;
        box-sizing:border-box;
    }

    #editDisplayNameContainer button {
        grid-area: save;
    }

    #editDisplayNameContainer button.btn-decline {
        grid-area: cancel;
    }
