#viewGroupInvitations {
    height: 100%;
    width: 25%;
}

    #viewGroupInvitations label {
        text-align: center;
        font-weight: bold;
    }

#viewGroupInvitations ol {
    border-top: solid 1px rgb(200, 200, 200);
    border-bottom: solid 1px rgb(200, 200, 200);
    border-radius: 1em;
    padding: 0.5em;
    overflow-y: auto;
    height: 100%;
}

#invitationListItem {
    display: grid;
    grid-template:
        "label label" 0.5fr
        "decline accept" 0.5fr
        / 1fr 1fr;
    gap: 0.5em;
}

#invitationListItem label {
    grid-area: label;
}

#declineButton {
    grid-area: decline;
    background-color: indianred;
}

#acceptButton {
    grid-area: accept;
    background-color: lightgreen;
}

