#registerBody {
    margin: auto;
    margin-top: 10em;
    width: 25em;
}

#backToLoginButton {
    margin-bottom: 0.5em;
}

#registerMain {
    background-color: aliceblue;
}

#registerMain label {
    font-weight: bold;
}

#registerMain input {
    width: 70%;
}

#registerButton {
    width: 50%;
}

#registerError {
    font-size: 12px;
}

.p-register {
    font-size: 10px;
    margin: 0;
    margin-bottom: 1em;
    width: 70%;
    text-align: center;
}