#groupInvitationComponent {
    text-align: center;
    width: 25%;
    height: 100%;
}

#mainLabel {
    font-weight: bold;
}

#groupInvitationComponent p {
    margin: 0;
    margin-bottom: 0.5em;
}

#groupInvitationComponent ol {
    border-top: solid 1px rgb(200, 200, 200);
    border-bottom: solid 1px rgb(200, 200, 200);
    border-radius: 1em;
    padding: 0.5em;
    overflow-y: auto;
    height: 100%;
}