#appBody {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:
        "header" 4em
        "main"  1fr
        "footer" 1em
        / 1fr;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    grid-area: header;
    background-color: skyblue;
}

nav {
    display: flex;
    height: fit-content;
    gap: 0.5em;
}

main {
    grid-area: main;
    padding: 1em;
}

footer {
    grid-area: footer;
    background-color: skyblue;
}

nav .nav-button {
    padding: 0.5em 1em;
    width: fit-content;
    height: fit-content;
    font-weight: bold;
}

