#groupsComponent {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:
        "list child" 1fr
        / 0.25fr 1fr;
    gap: 2em;
}

#groupsListContainer {
    grid-area: list;
}

    #groupsListContainer label {
        font-weight: bold;
        text-align: center;
    }

    #groupsListContainer ol {
        height: 100%;
        border-top: solid 1px rgb(200, 200, 200);
        border-bottom: solid 1px rgb(200, 200, 200);
        border-radius: 1em;
        padding: 0.5em;
        overflow-y: auto;
    }

#childComponent {
    grid-area: child;
}

#groupsListItem {
    display: grid;
    gap: 0.5em;
    grid-template:
        "label label" 0.5fr
        "leave invite" 1fr
        "chat chat" 0.5fr
        / 1fr 1fr;
}

    #groupsListItem label {
        grid-area: label;
    }

#groupLeaveButton {
    grid-area: leave;
    background-color: indianred;
}

#openChatButton {
    grid-area: chat;
}
