#friendSearchComponent {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template:
        "search outgoing" 1fr
        "search incoming" 1fr
        / 1fr 1fr;
    gap: 1em;
}

    #friendSearchComponent label {
        font-size: 1.25em;
        font-weight: bold;
        text-align: center;
        display: block;
    }

    #friendSearchComponent ol {
        height: 100%;
        overflow: auto;
    }

#outgoingContainer {
    grid-area: outgoing;
}

#incomingContainer {
    grid-area: incoming;
}

#searchBody {
    grid-area: search;
}

    #searchBody div {
        height: 100%;
    }

#discoverUsersListItem {
    display: grid;
    grid-template:
        "img label" 1.5em
        "img p" 1.5em
        "img button" 2em
        / 6em 1fr;
    height: fit-content;
}

    #discoverUsersListItem img {
        grid-area: img;
        height: 5em;
        margin-right: 1em;
    }

    #discoverUsersListItem p {
        grid-area: p;
    }

    #discoverUsersListItem label {
        grid-area: label;
    }

    #discoverUsersListItem button {
        grid-area: button;
    }

    #discoverUsersListItem div {
        grid-area: button;
    }

#outgoingsListItem {
    display: grid;
    grid-template:
        "img label" 1.5em
        "img p" 1.5em
        / 4em 1fr;
    height: fit-content;
}

    #outgoingsListItem p {
        grid-area: p;
    }

    #outgoingsListItem label {
        grid-area: label;
    }

    #outgoingsListItem img {
        grid-area: img;
        height: 3em;
        margin-right: 1em;
    }

#incomingsListItem {
    display: grid;
    grid-template:
        "img label label" 1.5em
        "img p p" 1.5em
        "img accept decline" 2em
        / 6em 1fr 1fr;
    height: fit-content;
}

    #incomingsListItem label {
        grid-area: label;
    }

    #incomingsListItem p {
        grid-area: p;
    }

    #incomingsListItem img {
        grid-area: img;
        height: 5em;
        margin-right: 1em;
    }

#acceptButton {
    background-color: lightgreen;
    grid-area: accept;
    width: 95%;
}

#declineButton {
    background-color: indianred;
    grid-area: decline;
    width: 95%;
}

.li-friend-style p {
    text-align: center;
}

.li-friend-style label {
    font-weight: bold;
}

.li-friend-style div {
    padding: 0.5em 1em;
    text-align: center;
}
